.bi{
  background-image: url('../imgs/wb.jpg');
  margin-bottom: 0px;
}

.navbar {
  background-color: hsl(0, 0%, 25%);
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}

.navbar li {
  float: left;
}

.page_header{
  text-align: center;
  background-color: rgb(255, 255, 255)smoke;
  border: 5px;
  border-style: double;
  border-color: black;
}