body {
  margin: 0;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
}
h3 {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
.art{
  background-image: url('../imgs/The_King_is_dead!.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}