<!-- Home Page -->
{% extends 'base.html' %}
{% block content%}
    <h2 class='protest-guerrilla-regular page_header'>Welcome to Data Processing Net!</h2>
    <p class = 'barlow-condensed-regular'>
        This is the home page where the main functions of the will be listed for all to read, the main functions are:
        <ul class="barlow-condensed-regular">
            <li>The Account Page where you will login in,</li>
            <li>The Data Cleaning Page where you will clean your data,</li>
            <li>And finally the Data Graphing Page where you will be shown graphs of your data!</li>
        </ul>
    </p>
{% endblock %}