<!DOCTYPE html>
<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header handjet-font">
      <div class="left-section">left</div>
      <div class="middle-section">Welcome to the Data Analysis Packager!</div'>
      <div class="right-section">right</div>
    </header>
  </body>
</html>