.header{
    background-color: rgb(61, 231, 45);
    color: white;
    font-size: 20px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.header-center{
    text-align: center;
    margin: 0;
}